[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/hanzbzz/kubernetes.git
[submodule "kind"]
	path = kind
	url = https://github.com/hanzbzz/kind.git
[submodule "containerd"]
	path = containerd
	url = ./containerd
