[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/hanzbzz/kubernetes.git
[submodule "kind"]
	path = kind
	url = https://github.com/hanzbzz/kind.git
[submodule "containerd"]
	path = containerd
	url = https://github.com/hanzbzz/containerd.git
[submodule "runc"]
	path = runc
	url = https://github.com/hanzbzz/runc.git
[submodule "criu"]
	path = criu
	url = https://github.com/hanzbzz/criu.git
